
	angular 6 tutorial

<app-header></app-header>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<app-recipes></app-recipes>
			
		</div>
	</div>
</div>



<!--
	news app

<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>Wb.Gy</span>
		<span class="example-spacer"></span>
		<a routerLink="/" mat-button>Home</a>
		<a routerLink="/posts" mat-button>Posts</a>
	</mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
	 -->
<!--
	navbar
	-->

	<!--<app-navbar></app-navbar> -->
